In [24]:
import pandas as pd
import re
import string
punct = string.punctuation

In [108]:
df = pd.read_excel('lyrics.xlsx')

In [54]:
df = df.rename({'Unnamed: 0':'ID'},axis = 'columns')

In [109]:
df.drop('lyrics',inplace=True,axis=1)
df = df.rename({'cleaned_lyrics':'lyrics'},axis = 'columns')

In [110]:
df.head()

,song,artist,lyrics,genre
0,you-ve-got-a-friend,you-ve-got-a-friend,When 're troubled And need helping hand And no...,Country
1,her-name-is,her-name-is,"Oh , I love ca n't live without And I 've got ...",Country
2,forgive-me,forgive-me,They tell God forgives almost anything They te...,Country
3,roses-are-red-my-love,roses-are-red-my-love,Roses red love violet blue Sugar sweet love sw...,Country
4,happy-birthday-to-you,happy-birthday-to-you,I 'm Eddy Arnold I wan na tell About performed...,Country

In [111]:
df.genre.value_counts()

Country       50
RythBlues     50
Rock          50
Electronic    50
Jazz          50
Metal         50
HipHop        50
Indie         50
Pop           50
Folk          50
Name: genre, dtype: int64

In [112]:
df.dropna(inplace=True)

In [59]:
df.lyrics = df.lyrics.astype(str)

In [113]:
df.shape

(500, 4)

In [30]:
df = df.astype(str)

In [114]:
df.lyrics = df.lyrics.apply(lambda x:' '.join([word for word in x.split() if word not in punct]))
df.lyrics = df.lyrics.apply(lambda x:' '.join([word for word in x.split() if len(word) > 3]))

In [115]:
def spaces(sent):
    sent = re.sub('\s+', ' ', sent)
    return sent

df.lyrics = df.lyrics.apply(spaces)

In [116]:
df.lyrics[0]

'When troubled need helping hand nothing nothing going right Close think soon brighten even darkest night call name know wherever come running Winter spring summer fall call friend Grows dark full cloud north wind begin blow Keep head together call name loud Soon hear knocking door call name know wherever come running Winter spring summer fall call good know friend When people cold They hurt desert take soul call name know wherever come running Winter spring summer fall call friend friend good know friend good know friend'

In [117]:
df.lyrics = df.lyrics.str.lower()
df['tokens'] = df.lyrics.str.split()
df['similarity'] = " "

In [64]:
df_Rock = df[df.genre == 'Rock'][:50]
df_Pop = df[df.genre == 'Pop'][:50]
df_Metal = df[df.genre == 'Metal'][:50]
df_HipHop = df[df.genre == 'HipHop'][:50]
df_Country = df[df.genre == 'Country'][:50]
df_Jazz = df[df.genre == 'Jazz'][:50]
df_Electronic = df[df.genre == 'Electronic'][:50]
df_RythBlues = df[df.genre == 'RythBlues'][:50]
df_Indie = df[df.genre == 'Indie'][:50]
df_Folk = df[df.genre == 'Folk'][:50]

In [76]:
df_new = pd.concat([df_Rock,df_Pop,df_Metal,df_HipHop,df_Country,df_Jazz,df_Electronic,df_RythBlues,df_Indie,df_Folk],axis = 0)

In [77]:
df_new = df_new.astype(str)

In [ ]:
df_new.lyrics = df_new.lyrics.apply(lambda x:' '.join([word for word in x.split() if word not in punct]))
df_new.lyrics = df_new.lyrics.apply(lambda x:' '.join([word for word in x.split() if len(word) > 3]))

In [66]:
df_new.columns

Index(['ID', 'song', 'artist', 'lyrics', 'genre'], dtype='object')

In [48]:
df_new = df_new.rename({'Unnamed: 0':'Id'},axis = 'columns')

In [78]:
df_new.head()

,ID,song,artist,lyrics,genre
0,1,walk-me-out-in-the-morning-dew,walk-me-out-in-the-morning-dew,Walk mornin honey Walk mornin today walk morni...,Rock
1,2,helping-you-hate-me,helping-you-hate-me,know clich When doomed could start making head...,Rock
2,3,trailerpark,trailerpark,Fist Fist five Fist country soul sleep night w...,Rock
3,4,when-i-see-his-face,when-i-see-his-face,could could could Nothing going When face tell...,Rock
4,6,call-your-name,call-your-name,call name blame unfair sleep night Since gone ...,Rock

In [79]:
df_new.lyrics[0]

"Walk mornin honey Walk mornin today walk mornin honey walk mornin today thought heard baby mornin' thought heard baby today hear baby mornin' hear baby today Where people gone honey Where people gone today Well need worryin people never people anyway thought heard young moan mornin' thought heard young moan today thought heard young moan mornin' walk morning today"

In [94]:
df.lyrics = df.lyrics.str.lower()
df['words_lyrics'] = df.lyrics.str.split()
df['similarity'] = " "

In [95]:
df_new.shape

(500, 7)

In [121]:
df.lyrics[3]

'roses love violet blue sugar sweet love sweet long long time graduation handed book signed roses love dated school came wrote book next name roses love then went away found someone read letter dear wrote back roses love violet blue sugar sweet love good luck bless little girl look like some write book roses love'

In [119]:
df.head()

,song,artist,lyrics,genre,tokens,similarity
0,you-ve-got-a-friend,you-ve-got-a-friend,when troubled need helping hand nothing nothin...,Country,"[when, troubled, need, helping, hand, nothing,...",
1,her-name-is,her-name-is,love live without urge tell world love secret ...,Country,"[love, live, without, urge, tell, world, love,...",
2,forgive-me,forgive-me,they tell forgives almost anything they tell f...,Country,"[they, tell, forgives, almost, anything, they,...",
3,roses-are-red-my-love,roses-are-red-my-love,roses love violet blue sugar sweet love sweet ...,Country,"[roses, love, violet, blue, sugar, sweet, love...",
4,happy-birthday-to-you,happy-birthday-to-you,eddy arnold tell about performed song past cen...,Country,"[eddy, arnold, tell, about, performed, song, p...",

In [97]:
df_new.columns

Index(['ID', 'song', 'artist', 'lyrics', 'genre', 'words_lyrics',
       'similarity'],
      dtype='object')

In [124]:
df.lyrics[0]

'when troubled need helping hand nothing nothing going right close think soon brighten even darkest night call name know wherever come running winter spring summer fall call friend grows dark full cloud north wind begin blow keep head together call name loud soon hear knocking door call name know wherever come running winter spring summer fall call good know friend when people cold they hurt desert take soul call name know wherever come running winter spring summer fall call friend friend good know friend good know friend'

In [125]:
df.tokens[0]

['when',
 'troubled',
 'need',
 'helping',
 'hand',
 'nothing',
 'nothing',
 'going',
 'right',
 'close',
 'think',
 'soon',
 'brighten',
 'even',
 'darkest',
 'night',
 'call',
 'name',
 'know',
 'wherever',
 'come',
 'running',
 'winter',
 'spring',
 'summer',
 'fall',
 'call',
 'friend',
 'grows',
 'dark',
 'full',
 'cloud',
 'north',
 'wind',
 'begin',
 'blow',
 'keep',
 'head',
 'together',
 'call',
 'name',
 'loud',
 'soon',
 'hear',
 'knocking',
 'door',
 'call',
 'name',
 'know',
 'wherever',
 'come',
 'running',
 'winter',
 'spring',
 'summer',
 'fall',
 'call',
 'good',
 'know',
 'friend',
 'when',
 'people',
 'cold',
 'they',
 'hurt',
 'desert',
 'take',
 'soul',
 'call',
 'name',
 'know',
 'wherever',
 'come',
 'running',
 'winter',
 'spring',
 'summer',
 'fall',
 'call',
 'friend',
 'friend',
 'good',
 'know',
 'friend',
 'good',
 'know',
 'friend']

In [137]:
print(df.lyrics[3])

roses love violet blue sugar sweet love sweet long long time graduation handed book signed roses love dated school came wrote book next name roses love then went away found someone read letter dear wrote back roses love violet blue sugar sweet love good luck bless little girl look like some write book roses love

In [135]:
l1 = ['roses', 'love', 'violet', 'blue', 'sugar', 'sweet', 'love', 'sweet', 'long', 'long', 'time', 'graduation', 'handed', 'book', 'signed', 'roses', 'love', 'dated', 'school', 'came', 'wrote', 'book', 'next', 'name', 'roses', 'love', 'then', 'went', 'away', 'found', 'someone', 'read', 'letter', 'dear', 'wrote', 'back', 'roses', 'love', 'violet', 'blue', 'sugar', 'sweet', 'love', 'good', 'luck', 'bless', 'little', 'girl', 'look', 'like', 'some', 'write', 'book', 'roses', 'love']
l2 = ['roses', 'love', 'violet', 'blue', 'sugar', 'sweet', 'love', 'sweet', 'long', 'long', 'time', 'graduation', 'handed', 'book', 'signed', 'roses', 'love', 'dated', 'school', 'came', 'wrote', 'book', 'next', 'name', 'roses', 'love', 'then', 'went', 'away', 'found', 'someone', 'read', 'letter', 'dear', 'wrote', 'back', 'roses', 'love', 'violet', 'blue', 'sugar', 'sweet', 'love', 'good', 'luck', 'bless', 'little', 'girl', 'look', 'like', 'some', 'write', 'book', 'roses', 'love']
s1 = set(l1)
s2 = set(l2)
print((len(s1.intersection(s2)) / len(s1.union(s2))))

1.0

In [142]:
df.head()

,song,artist,lyrics,genre,tokens,similarity
0,you-ve-got-a-friend,you-ve-got-a-friend,when troubled need helping hand nothing nothin...,Country,"[when, troubled, need, helping, hand, nothing,...",0.0252101
1,her-name-is,her-name-is,love live without urge tell world love secret ...,Country,"[love, live, without, urge, tell, world, love,...",0.0252101
2,forgive-me,forgive-me,they tell forgives almost anything they tell f...,Country,"[they, tell, forgives, almost, anything, they,...",0.0252101
3,roses-are-red-my-love,roses-are-red-my-love,roses love violet blue sugar sweet love sweet ...,Country,"[roses, love, violet, blue, sugar, sweet, love...",0.0252101
4,happy-birthday-to-you,happy-birthday-to-you,eddy arnold tell about performed song past cen...,Country,"[eddy, arnold, tell, about, performed, song, p...",0.0252101

In [147]:
s = str(input('Enter a song lyrics '))
list1 = s.split()
for i in range(0,500):
    list2 = df['tokens'][i]
    s1 = set(list1)
    s2 = set(list2) 
    df['similarity'][i] = (len(s1.intersection(s2)) / len(s1.union(s2)))

df_sort = df.sort_values(by = 'similarity',ascending = False)
df_sort.head(10)

Enter a song lyrics roses love violet blue sugar sweet love sweet long long time graduation handed book signed roses love dated school came wrote book next name roses love then went away found someone read letter dear wrote back roses love violet blue sugar sweet love good luck bless little girl look like some write book roses love

,song,artist,lyrics,genre,tokens,similarity
3,roses-are-red-my-love,roses-are-red-my-love,roses love violet blue sugar sweet love sweet ...,Country,"[roses, love, violet, blue, sugar, sweet, love...",1
409,if-she-wants-me,if-she-wants-me,wrote letter nothing asked somebody could send...,Rock,"[wrote, letter, nothing, asked, somebody, coul...",0.122807
495,i-ll-be-there,i-ll-be-there,written babyface debarge 1994 performed debarg...,RythBlues,"[written, babyface, debarge, 1994, performed, ...",0.120482
269,night-wind,night-wind,love blown away night wind dream shared fell a...,Jazz,"[love, blown, away, night, wind, dream, shared...",0.101449
468,reeling-and-rocking,reeling-and-rocking,well brought rockin chair back yard baby went ...,RythBlues,"[well, brought, rockin, chair, back, yard, bab...",0.1
117,won-t-let-me-go,won-t-let-me-go,been time since first night good time since mo...,Folk,"[been, time, since, first, night, good, time, ...",0.0985915
27,i-don-t-know-why,i-don-t-know-why,written billy burnette well know hang hand nig...,Country,"[written, billy, burnette, well, know, hang, h...",0.0983607
362,sometimes,sometimes,come turn back have good when feeling blue hur...,Pop,"[come, turn, back, have, good, when, feeling, ...",0.0963855
39,love-has-come-my-way,love-has-come-my-way,well look love finally come last look like lov...,Country,"[well, look, love, finally, come, last, look, ...",0.0943396
298,down-hearted-blues,down-hearted-blues,hard love someone someone love disgusted heart...,Jazz,"[hard, love, someone, someone, love, disgusted...",0.09375